extends ../layout

block content
    h1= title
    p Change game settings here.
    p= "Number of games: " + totalNumberGames 

    form#selectGameSetting(name="select", method="post", action="/settings/select")
        label Game Select
        br
        input#currentSetting(type="hidden", name="curr", value=settings[0]["game"])
        button(type="submit", name="cycle", value=settings[0]["game"]-1) prev
        input#selectSetting(type="number", placeholder="Game Select", name="gameSelect", value=settings[0]["game"], size=12)
        button(type="submit") go
        button(type="submit", name="cycle", value=1) next
    br

    form#formChangeSettings(name="update", method="post", action="/settings/")
        each val, index in settings[0]
            if (index != "_id")
                = index + ": "
                input#inputSetting(type="text", placeholder=val, name=index, value=val)
                br
                br
        button#btnSubmit(type="submit", name="submit", value=1) submit
        button#btnDelete(type="submit", name="deleteGame", value=1) delete game


    form#formChangeSettings(name="update", method="post", action="/settings/")


    p Deleting is an extremely dangerous procedure. Please only delete the last most settings item. If you delete x setting in the middle and do not update all following settings by game number, there will be settings for games 0, 1,...x-1, x+1...n and the game will break.


    
